body {
    margin: 0;
    padding: 0;
}
#menu-box {
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: lightskyblue;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 1;
}
#menu-box-container {
    width: 100%;
    height: 100%;
    background-color: lightskyblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    z-index: 1;
}

a {
    color: black;
    font-size: 2em;
    text-decoration: none;
}
#container {
    left: 0;
    top: 100px;
    display: flex;
    width: 76%;
    height: auto;
    background-color: #fcfaf4;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3%;

}
.box {
    width: 240px;
    height: 360px;
    background-color: #808080;
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px solid black;
}
img {
    width: 180px;
    height: 180px;
    position: relative;
    top: 10px;
    margin: 20px;
    border: 1px solid black;
}
.name {
    background-color: #f3eace;
    width: 180px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;

}
.price {
    background-color: #f3eace;
    height: 30px;
    width: 70px;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
}
.Add {
    background-color: #f3eace;
    height: 30px;
    width: 70px;
    font-size: 13px;
}
.shopping-cart-box {
    left: 82%;
    top: 100px;
    width: 18%;
    height: 90%;
    background-color: lightblue;
    z-index: 1;
    position: fixed;
}
#buy {
    width: 49%;
    height: 40px;
    color: white;
    background-color: #202937;
    font-size: 20px;
}
#delete {
    width: 49%;
    height: 40px;
    background-color: #202937;
    font-size: 20px;
    color: white;
    position: relative;
    right:-2px;
}
#totalPrice {
    top: 0px;
    width: 99%;
    height: 40px;
    background-color: #b9c6d6;
    position: relative;
    font-size: 2em;
    text-align: center;

}
#shoppingBoxContainer {
    height: 80%;
    width: 100%;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    overflow-x: auto;
}
.shoppingBoxContainerForOneProduct {
    height: 80px;
    width: 96%;
    display: flex;
    flex-direction: column;
    margin:2px;
}

.shoppingBoxName {
    width: 60%;
    height: 26px;
    background-color: #f3eace;
    margin: 2px;
    line-height: 26px;
    text-align: left;
    border: 1px solid black;
    font-size: 100%;
    position: relative;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.shoppingBoxButton {
    width: 32%;
    height: 26px;
    background-color: #c8bd99;
    margin: 2px;
    line-height: 26px;
    text-align: center;
    position: absolute;
    right: 6px;
}
.shoppingBoxPrice {
    width: 100%;
    height: 26px;
    background-color: #f3eace;
    margin: 2px;
    line-height: 26px;
    top:20px;
    text-align: left;
    border: 1px solid black;
}